
/**
 *  Imports
 */

@import "base";

/**
 *  Styles
 */

body {
	@include background-cross ($grey, $lightgrey);
	
	> header {
		
		#logo {
			padding: {
				top: 5px;
				left: 5px;
			}
		}
		
		> nav {
			height: 50px;
			background-color: $blue;

			> ul {
				float: right;
			}
		}
	}

	> footer { 
		
	} 
}

#main-nav {
	h1 {
		float: left;
	}
	
	li {
		@include inline-block;
	}
}

#main-container {
	max-width: 960x;
}

#logo {
	@include font-offset;
}